<footer class="footer mt-auto py-3">
    <div class="container">
      <a href="https://github.com/Aqib-Jabbar/HRMS/tree/master"><span class="text-muted m-4"><i class="bi bi-facebook"></i></span></a>
      <a href="https://github.com/Aqib-Jabbar/HRMS/tree/master"><span class="text-muted m-4"><i class="bi bi-twitch"></i></span></a>
      <a href="https://github.com/Aqib-Jabbar/HRMS/tree/master"><span class="text-muted m-4"><i class="bi bi-twitter"></i></span></a>
      <a href="https://github.com/Aqib-Jabbar/HRMS/tree/master"><span class="text-muted m-4"><i class="bi bi-instagram"></i></span></a>
      <a href="https://github.com/Aqib-Jabbar/HRMS/tree/master"><span class="text-muted m-4"><i class="bi-github" role="img" aria-label="GitHub"></i></span></a>
      
    </div>
  </footer>
