<div class="container-fluid ">
    <div class="row row-col-2">
        <div class="viewDetails col-xxl-3 mt-3">
            <img class="img-fluid heightWidth" src="{{viewData.avatar}}" alt="Profile Image">
        </div>
        <div class="information col-xxl-8  text-break">
            <h3 class="mb-3 pt-4"><b>Name: </b> <i>{{viewData.title}}</i></h3>
            <p class="mb-3 pt-4"><b>Details: </b>{{viewData.description}}</p>
            <span class="mb-3 pt-4"><b>URL:</b> {{viewData.avatar}}</span>
        </div>
    </div>
</div>