<div class="container-fluid p-4" style="margin-top: 100px">
  <button class="btn btn-dark" (click)="goBack()"><</button>
  <div class="row row-col-2" style="margin-bottom: 70px">
    <div class="viewDetails col-sm-5 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mt-3">
      <img
        class="img-fluid heightWidth"
        src="{{ viewData.avatar }}"
        alt="Profile Image"
      />
    </div>
    <div
      class="
        information
        col-sm-7 col-md-8 col-lg-7 col-xl-8 col-xxl-8
        text-break
      "
    >
      <h3 class="mb-3 pt-4">
        <b>Name: </b>
        <i
          >{{ viewData.title }}(<small class="ml-2"
            ><app-child
              [newprop]="viewData.id"
              (passingIdDataEvent)="proIdSecreteHandler($event)"
            ></app-child>
            {{ secreteId }}</small
          >)</i
        >
      </h3>
      <p class="mb-3 pt-4"><b>Details: </b>{{ viewData.description }}</p>
      <span class="mb-3 pt-4"><b>URL:</b> {{ viewData.avatar }}</span>
      <br /><br />
      <span class="mb-3 pt-4"><b>Country:</b> {{ viewData.countryName }}</span>
      <br /><br />
      <small><b>createdAt: </b>{{ viewData.createdAt }}</small>

      <hr />
      <div class="d-grid-2 gap-2 d-md-flex justify-content-center">
        <button
          class="btn btn-outline-danger me-md-2 me-2"
          type="button"
          (click)="deleteProfile(viewData)"
        >
          <i class="bi bi-trash"></i>
        </button>
        <button
          class="btn btn-outline-success"
          type="button"
          routerLink="/profile/editProfile/{{ viewData.id }}"
        >
          <i class="bi bi-pen"></i>
        </button>
      </div>
    </div>
  </div>
</div>
