<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HRMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a class="dropdown-item logout" aria-current="page" style="cursor: pointer;" *ngIf="_authService.isAuthenticated$ | async"><button class="btn btn-danger btn-block" (click)="logout()">Log out</button></a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" aria-current="page" *ngIf="(_authService.isAuthenticated$ | async) === false"><button class="btn btn-success" (click)="loginWithRedirect()">Sign in</button></a>
        </li>
      </ul>
    </div>

  </div>
  
  <div class="dropdown" *ngIf="_authService.user$ | async as user" >
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{{user.picture}}" alt="" width="32" height="32" class="rounded-circle me-2">
      <div>
        <strong>{{user.name}}</strong>
        <p>{{user.email}}</p>

      </div>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" routerLink="/profile">Profiles</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
    </ul>
  </div>
 
    
  
  

</nav>